QWidget {
  color: #D0D0D0;
  background-color: #202020;

  font-family: "Segoe UI";
  font-size: 14px;
  font-weight: bold;
}

QDockWidget::title {
  background-color: #202020;

  padding: 8px;
}

QWidget#control-panel {
  background-color: #161616;

  border: 1px solid #4A4A4A;
  border-radius: 10px;

  padding: 10px;

  margin: 10px;
  margin-top: 0px;
}

QListWidget {
  border: 1px solid #4A4A4A;
  border-radius: 10px; 
}

QPushButton {
  border: 1px solid #4A4A4A;
  border-radius: 5px;
}