BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
ColumnLimit: 120

PointerAlignment: Right
ReferenceAlignment: Right

AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true